@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.header-div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  width: 60%;
  top: 28vh;
  right: 0;

  display: flex;
  flex-direction: column;
}

.action-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  height: 42px;
  line-height: 42px;
  padding: 0 32px;
  color: white;
  z-index: 1;
  cursor: pointer;
  outline: none;
  max-width: 348px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.action-btn:hover {
  color: #4e54c8;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.header {
  margin-bottom: 24px;
}

.header-img {
}

.header-div h1 {
  text-align: center;
  color: #b2dfdb;
  font-size: 50px;
}

.header-img img {
  height: 200px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 55%;
  margin: 0 auto;
}

.item {
  width: 50%;
  position: relative;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.item:hover .company-logo {
  opacity: 0;
  transition: 0.2s ease;
}

.hidden-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden-text {
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  opacity: 0;
  transition: 0.1s ease;
}

.white-text {
  color: white;
}
.black-text {
  color: black;
}

.hidden-btn {
  background: transparent;
  border: 2px solid #4e54c8;
  border-radius: 4px;
  height: 42px;
  line-height: 36px;
  padding: 0 32px;
  color: #4e54c8;
  z-index: 1;
  cursor: pointer;
  outline: none;
  top: 0;
  max-width: 348px;
  margin: 0 auto;
  text-align: center;
  transition: 0.1s ease-in-out;
  opacity: 0;
}

.item:hover .hidden-text,
.item:hover .hidden-btn {
  opacity: 1;
  transition: 0.4s ease;
}

.company-logo {
  display: block;
  margin: 0 auto;
  max-width: 70%;
  max-height: 100%;
  transition: 0.4s ease;
}

.fetchmi-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fetchmi-box:hover p {
  opacity: 0;
  transition: 0.3s ease;
}
.fetchmi-text {
  font-size: 72px;
  color: #222222;
  font-weight: 200;
  transition: 0.3s ease;
}

.vezzy-box img {
  margin-top: 24px;
}

.section-header {
  text-align: center;
  font-size: 36px;
  padding: 24px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}
