@import url("https://fonts.googleapis.com/css?family=Lato:300,400,500,600,700");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

.header-div {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  width: 60%;
  top: 28vh;
  right: 0;

  display: flex;
  flex-direction: column;
}

.action-btn {
  background: transparent;
  border: 2px solid white;
  border-radius: 4px;
  height: 42px;
  line-height: 42px;
  padding: 0 32px;
  color: white;
  z-index: 1;
  cursor: pointer;
  outline: none;
  max-width: 348px;
  margin: 0 auto;
  display: inline-block;
  text-align: center;
  transition: 0.2s ease-in-out;
}

.action-btn:hover {
  color: #4e54c8;
  background-color: white;
  transition: 0.2s ease-in-out;
}

.header {
  margin-bottom: 24px;
}

.header-img {
}

.header-div h1 {
  text-align: center;
  color: #b2dfdb;
  font-size: 50px;
}

.header-img img {
  height: 200px;
  border: 1px solid #eeeeee;
  border-radius: 50%;
}

.flex-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70%;
  margin: 0 auto;
}

.item {
  width: 50%;
  position: relative;
  background-color: white;
  border: 1px solid #eeeeee;
  border-radius: 4px;
}
.item:hover .company-logo {
  opacity: 0;
  transition: 0.2s ease;
}

.hidden-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.hidden-text {
  text-align: center;
  margin: 0 auto;
  font-size: 26px;
  font-weight: 300;
  line-height: 36px;
  opacity: 0;
  transition: 0.1s ease;
}

.white-text {
  color: white;
}
.black-text {
  color: black;
}

.hidden-btn {
  background: transparent;
  border: 2px solid #4e54c8;
  border-radius: 4px;
  height: 42px;
  line-height: 36px;
  padding: 0 32px;
  color: #4e54c8;
  z-index: 1;
  cursor: pointer;
  outline: none;
  top: 0;
  max-width: 348px;
  margin: 0 auto;
  text-align: center;
  transition: 0.1s ease-in-out;
  opacity: 0;
}

.modal-close-btn {
  background: transparent;
  border: 2px solid #4e54c8;
  border-radius: 4px;
  height: 42px;
  line-height: 36px;
  padding: 12px 32px;
  color: #4e54c8;
  z-index: 1;
  cursor: pointer;
  outline: none;
  top: 0;
  max-width: 348px;
  margin: 0 auto;
  text-align: center;
}

.item:hover .hidden-text,
.item:hover .hidden-btn {
  opacity: 1;
  transition: 0.4s ease;
}

.company-logo {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  max-height: 100%;
  transition: 0.4s ease;
}

.fetchmi-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fetchmi-box:hover p {
  opacity: 0;
  transition: 0.3s ease;
}
.fetchmi-text {
  font-size: 72px;
  color: #222222;
  font-weight: 200;
  transition: 0.3s ease;
}

.vezzy-box img {
  margin-top: 24px;
}

.section-header {
  text-align: center;
  text-transform: uppercase;
  font-size: 42px;
  padding: 72px;
}

.area {
  background: #4e54c8;
  background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
  width: 100%;
  height: 100vh;
}

.circles {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li {
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
}

.circles li:nth-child(1) {
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}

.circles li:nth-child(2) {
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3) {
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4) {
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5) {
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6) {
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7) {
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8) {
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9) {
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10) {
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

@keyframes animate {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
    border-radius: 0;
  }

  100% {
    transform: translateY(-1000px) rotate(720deg);
    opacity: 0;
    border-radius: 50%;
  }
}

.skills-bar-container {
  position: relative;
  width: 66%;
  min-width: 300px;
  top: 24px;
  left: 50%;
  columns: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  list-style: none;
}
.skills-bar-container li {
  position: relative;
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.skills-bar-container li .progressbar-title {
  color: black;
}
.skills-bar-container li .progressbar-title h3 {
  font-size: 24px;
  display: inline-block;
}
.skills-bar-container li .progressbar-title .percent {
  position: absolute;
  right: 5px;
}
.skills-bar-container li .bar-container {
  background: #555;
  position: relative;
  width: 100%;
  height: 5px;
  margin-top: 5px;
  display: block;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}
.skills-bar-container li .bar-container .progressbar {
  position: absolute;
  width: 0%;
  height: 100%;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.skills-bar-container li .bar-container #progress-python {
  -webkit-animation-name: progress-python;
  animation-name: progress-python;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.skills-bar-container li .bar-container #progress-java {
  -webkit-animation-name: progress-java;
  animation-name: progress-java;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

.skills-bar-container li .bar-container #progress-css {
  -webkit-animation-name: progress-css;
  animation-name: progress-css;
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.skills-bar-container li .bar-container #progress-javascript {
  -webkit-animation-name: progress-javascript;
  animation-name: progress-javascript;
  -webkit-animation-delay: 2.1s;
  animation-delay: 2.1s;
}
.skills-bar-container li .bar-container #progress-php {
  -webkit-animation-name: progress-php;
  animation-name: progress-php;
  -webkit-animation-delay: 2.8s;
  animation-delay: 2.8s;
}
.skills-bar-container li .bar-container #progress-angular {
  -webkit-animation-name: progress-angular;
  animation-name: progress-angular;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
}

.progressred {
  background-color: #c0392b;
}

.progressblue {
  background-color: #1199ff;
}

.progresspurple {
  background-color: #9b59b6;
}

.progressorange {
  background-color: #ffa500;
}

.progressgreen {
  background-color: #27ae60;
}

@-webkit-keyframes progress-python {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@-webkit-keyframes progress-java {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}

@-webkit-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-webkit-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-webkit-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@-moz-keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@-moz-keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@-moz-keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@-moz-keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@-moz-keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
@keyframes progress-html {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
@keyframes progress-css {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes progress-javascript {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes progress-php {
  0% {
    width: 0%;
  }
  100% {
    width: 55%;
  }
}
@keyframes progress-angular {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}

.flex-grid-contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}
a.links {
  color: #9e9e9e;
  transition: all 0.3s ease-in-out;
}

.modal {
  top: 5% !important;
  max-height: 80% !important;
}

.game-container {
  margin: 0 auto;
  max-width: 1000px;
  width: 70%;
  padding-bottom: 48px;
}

a#mail-link:hover {
  color: #e57373;
  transition: all 0.3s ease-in-out;
}
a#linkedin-link:hover {
  color: #0077b5;
  transition: all 0.3s ease-in-out;
}

a#fb-link:hover {
  color: #3b5998;
  transition: all 0.3s ease-in-out;
}

a#github-link:hover {
  color: #6e5494;
  transition: all 0.3s ease-in-out;
}
